* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
}

.header_style {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 60px;
    z-index: 2;
    box-sizing: border-box;
}

.img_style {
    max-height: 700px;
}

.img_style::after {
    content: "";
    background: red;
    display: block;
    height: 500px;
    width: 500px;
    border-radius: 20%;
    box-shadow: 0 200px 40px 0px rgb(0 0 0 / 40%);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
    z-index: -1;
}

img {
    height: 700px;
    border-radius: 10px;
    object-fit: cover;
    width: 700px;
}

.header_text {
    position: absolute;
    top: 500px;
    color: rgb(249, 252, 248);
}

div > p {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

h1 {
    letter-spacing: 5px;
}

.main_style {
    width: 550px;
    height: 150px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* box-shadow: inset 0px 40px 30px gray; */
    margin-left: auto;
    margin-right: auto;
    /* box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.4); */
}

.numbers {
    color: black;
    font-size: 28px;
    font-weight: bold;
}

.instruction {
    font-size: 20px;
    color: gray;
}

h2 {
    font-weight: bold;
    letter-spacing: 5px;
    color: white;
}

.footer_style {
    /* box-shadow: inset 0px 20px 30px gray; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 425px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(182, 52, 74);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
